<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home </title>
    <link rel="stylesheet" href="style.css">
  <style>

   .container{
    width: 50%;
    height: 400px;
    background-color: #adadaa;
    margin: 50px;    

}
form{
    padding: 30px;
}


  </style>

</head>

<body>
    <div class="container">
        <form action="/" method="POST" id="contractForm">
            <h1>REGISTER</h1>
            <div>
                <label for="" id="username">Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <br>
            <div>
                <label for="" id="email">E-mail</label>
                <input type="email" name="email" placeholder="E-mail">
            </div><br>
            <div>
                <label for="" id="password">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div><br>
            <button type="submit">Register</button>
            <a href="/login">Login</a>
        </form>
    </div>
</body>

</html>