<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <form action="/login" method="POST" id="contractForm">
            <h1>REGISTER</h1>
            <div>
                <label for="" id="username">Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <label for="" id="password">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Login</button>
            <a href="/">Register</a>
        </form>
    </div>
</body>

</html>